# Application Config
SECRET_KEY="vjzdtcwopqqb7jq5gzccs_hjdhsghf8w7tr8732gd382723rer2"
DEBUG=True
ALLOWED_HOSTS="localhost,127.0.0.1"
CSRF_TRUSTED_ORIGINS="http://127.0.0.1"
PROJECT_ENV = 'dev' # local - dev - prod

# Backend Config
BACKEND_BASE_URL=""

# Redis Config
REDIS_HOST="saferoute-redis"
REDIS_PORT=6379