# Database
POSTGRES_DB=saferoute-db
POSTGRES_USER=saferoute_user
POSTGRES_PASSWORD="87ay&jfioweh893"
POSTGRES_HOST="saferoute-db"
POSTGRES_PORT=5432

# PgAdmin
PGADMIN_DEFAULT_EMAIL="admin@mail.com"
PGADMIN_DEFAULT_PASSWORD="Qklsd&sSt3EP&6LUt6b4"

