# Ignore the local virtual environment!
venv/
env/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Git history and local environment variables
.git/
.env

# just in case, ignore the database file if it exists
db.sqlite3

setup.ps1
setup.sh
Dockerfile
docker-compose.yml
