<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SafeRoute Account Credentials</title>
</head>

<body>
    <h2>Hello {{ first_name }},</h2>
    <p>Your SafeRoute account has been created by an administrator.</p>
    <p>Here are your secure login credentials:</p>
    <ul>
        <li><strong>Email:</strong> {{ email }}</li>
        <li><strong>Password:</strong> {{ password }}</li>
    </ul>
    <p>Please log in via the app and you will be able to change this to a password of your choice.</p>
    <br>
    <p>Best regards,<br>The SafeRoute Team</p>
</body>

</html>
